@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal TotalPrice = 0;
    int TotalProduct = 0;
}

@model List<E_CommerceOrderModule.Core.DTOs.BasketDTO>
<link href="~/lobibox-master/dist/css/lobibox.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/Basket.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="~/lobibox-master/dist/js/lobibox.min.js"></script>
<script src="~/js/Basket.js"></script>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Sepet Detay</b></h4>
                    </div>
                </div>
            </div>

            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="@item.Image"></div>
                            <div class="col">
                                <div class="row"> @item.ProductName</div>
                            </div>
                            <div class="col"> @item.Quantity Adet</div>
                            <div class="col"> @item.Price TL</div>
                        </div>
                    </div>

                    TotalPrice += @Convert.ToDecimal(Convert.ToInt32(item.Price * item.Quantity));
                    TotalProduct += item.Quantity;

                }
            }

            <div class="back-to-shop"><a href="/Product/List">&leftarrow; <span class="text-muted">Geri Dön</span></a></div>

        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Özet</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">@TotalProduct Adet</div>
                <div class="col text-right">@TotalPrice TL</div>
            </div>
            <form>

                @if (TotalPrice > 500)
                {
                    TotalPrice = Convert.ToDecimal(TotalPrice + Convert.ToDecimal(14.99));
                    <p>Kargo</p> <select><option class="text-muted">Standart Teslimat - 14.99 TL</option></select>
                }
                else
                {
                    <p>Kargo</p> <select disabled><option class="text-muted">Ücretsiz Kargo</option></select>
                }

                <p>Kupon Kodu</p> <input id="code" placeholder="Kupon kodu gir.">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Toplam Fiyat</div>
                <div class="col text-right">@TotalPrice TL</div>
            </div>
            <button class="btn completeShopping" onclick="CompleteShopping()" style="font-size:inherit;">Alışverişi Tamamla</button>
        </div>
    </div>
</div>

